* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 55px;
  border: yellow solid 2px;
  margin-bottom: 25px;
  background-color: black;
}

.header-container {
  color: yellow;
}

.links ul {
  display: flex;
  gap: 15px;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: yellow;
}

main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  background-color: white;
  margin: 0 auto 25px;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 15px;
  border-bottom: yellow solid 5px;
  margin: 0 auto 25px;
  color: yellow;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

img {
  width: 100%;
  margin-bottom: 20px;
}

.exhaust {
  border-bottom: none;
}

.page-footer {
  border: yellow solid 2px;
  padding: 10px;
  color: yellow;
  text-align: center;
}

@media (max-width: 1000px) {
  body {
    background-color: white;
  }
  section {
    color: black;
  }

  .about-me {
    background-color: white;
  }
  footer {
    background-color: black;
  }
}

@media (max-width: 500px) {
  body {
    background-color: white;
  }
  .about-me {
    background-color: black;
    color: yellow;
    border: black solid 2px;
  }
  .page-footer {
    background-color: black;
    border: yellow solid 2px;
    padding: 10px;
    color: yellow;
    text-align: center;
  }
}
