* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 55px;
  border: yellow solid 2px;
  margin-bottom: 25px;
  background-color: black;
}

.header-container {
  color: yellow;
}

.links ul {
  display: flex;
  gap: 15px;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: yellow;
}

main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  background-color: gray;
  margin: 0 auto 25px;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 15px;
  border-bottom: yellow solid 5px;
  margin: 0 auto 25px;
  color: gray;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

img {
  width: 100%;
  margin-bottom: 20px;
}

.exhaust {
  border-bottom: none;
}

.page-footer {
  border: yellow solid 2px;
  color: gray;
  text-align: center;
}
