* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  background-color: black;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 55px;
  border: yellow solid 2px;
  margin-bottom: 25px;
  background-color: black;
}

.header-container {
  color: yellow;
}

.links ul {
  display: flex;
  gap: 15px;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: yellow;
}

main {
  display: grid;
  margin: 0 auto;
  gap: 10px;
  max-width: 60%;
}

img {
  width: 100%;
  grid-row: 1;
  grid-column: 2;
}

.the-lorem h1 {
  margin-bottom: 15%;
  text-align: center;
  color: black;
}

.the-lorem h1:hover {
  color: yellow;
}

.about-me {
  border: yellow solid 5px;
  background-color: black;
  color: yellow;
  font-size: 18px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  padding: 25px;
}

.main-bottom {
  border: gray solid 5px;
  font-style: italic;
  font-weight: bold;
  padding: 15px;
  grid-column: 2;
  color: yellow;
}

figcaption {
  text-align: right;
  color: yellow;
}

.index-footer {
  background-color: black;
  color: yellow;
  border: yellow solid 2px;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 800px) {
  body {
    background-color: white;
  }

  .the-lorem h1:hover {
    color: blue;
  }
  .about-me {
    border: gray solid 5px;
  }
  .main-bottom {
    border: gray solid 5px;
    font-style: italic;
    font-weight: bold;
    padding: 15px;
    grid-column: 2;
    color: blue;
  }

  figcaption {
    text-align: right;
    color: blue;
  }
}

@media (max-width: 500px) {
  body {
    background-color: white;
  }
  .about-me {
    color: white;
  }
}
