* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 55px;
  border: yellow solid 2px;
  margin-bottom: 25px;
  background-color: black;
  color: yellow;
}

.links ul {
  display: flex;
  gap: 15px;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: yellow;
}

main {
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  color: white;
  background-color: black;
  margin: 0 auto 25px;
  padding: 10px;
}
.main-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 40%;
  margin: 0 auto;
  gap: 35px;
}

img {
  width: 100%;
  border: yellow solid 2px;
  margin-top: 10px;
}
p {
  background-color: black;
  color: yellow;
  padding: 15px;
}

.page-footer {
  background-color: black;
  color: yellow;
  border: yellow solid 2px;
  padding: 10px 0;
  text-align: center;
  margin-top: 15px;
}

a {
  color: white;
}

@media (max-width: 1000px) {
  body {
    background-color: black;
  }

  p {
    color: white;
  }

  img {
    border: black solid 2px;
  }
}

@media (max-width: 700px) {
  body {
    background-color: white;
  }

  p {
    color: white;
  }
}
