* {
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 55px;
  border: yellow solid 2px;
  margin-bottom: 25px;
  background-color: black;
  color: yellow;
}

.links ul {
  display: flex;
  gap: 15px;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: yellow;
}

main {
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  color: gray;
  background-color: black;
  margin: 0 auto 25px;
  padding: 10px;
}
.main-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 40%;
  margin: 0 auto;
  gap: 35px;
}

h2 {
  border: black solid 5px;
  padding: 5px;
}

img {
  width: 100%;
  border: yellow solid 2px;
  margin-top: 10px;
}
p {
  background-color: black;
  color: yellow;
  padding: 15px;
}

.page-footer {
  text-align: center;
  background-color: black;
  color: yellow;
  border: gray dotted 5px;
  padding: 15px;
  margin-top: 15px;
}
